<body bgcolor="#FFFF00">
<h1> MY to-dos<%=@list=%></h1>
<ul>
    <li><input type= "checkbox"> <a href="show.html=">bus ride <span class="time_estimate">1 hour</span></a> </li>
    <li><input type= "checkbox"> home work <span class="time_estimate"></span>2 hours</span> </li> 
    <li><input type= "checkbox"> pick up sibblings <span class="time_estimate">30 minutes</span></li>  
    <li><input type= "checkbox"> wash dishes <span class="time_estimate">1 hour</span></li>
    <li><input type= "checkbox"> clean shoes <span class="time_estimate">39 minutes</span></li>
    <li><input type="checkbox"> plan for camping trip<span class="time_estimate">45 minutes</span></li>
    <li><input type="checkbox"> buy a bacon egg and cheese and a bev at 5:00pm<span class="time_estimate">15 minutes</span> </li>
<input type= "text" placeholder="Enter a new to-do">
<input type= "number" placeholder=" how many pomodoros in all">
<input id="to-do_button" type= "submit" value="submit">
<a href="index.html">go back</a>
</body>