<body bgcolor="#FFFF00">

<h1> MY to-dos<%=@list=%></h1>
<ul>
    <% @todos.each do |todo| %>
    <li>
        <input type= "checkbox">
        <a href="show/<%= todo.id%>">Task = <%= todo.description%> <span class="time_estimate"><%= todo.pomodoro_estimate %> </span></a>
    </li>
    <% end %>
</ul> 
 
 <form action="/todo/create">  
     <input type= "text" name="description" placeholder="Enter a new to-do">
     <input type= "number" name="pomodoro_estimate" placeholder=" how many pomodoros in all">
     <input id="to-do_button" type= "submit" value="submit">
 </form>


<a href="index.html">go back</a>
</body>